.hg
.env
.svn
.CVS
.idea
node_modules/
jscoverage_lib/
bower_components/
dist/
android/
public/videos/*.mp4
.tmp/

.DS_Store
._*
.cache
.project
.settings
.tmproj
*.esproj
*.sublime-project
*.sublime-workspace
nbproject
thumbs.db
*.iml
.playwright-mcp/
output/